*{
    margin: 0;
}
header{
    background-color: #790252;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}
.banner{
    background-color: #224B0C;
    color: white;
    font-size: 50px;
    text-align: center;
    height: 400px;
}
.features{
    overflow: hidden;
}
.features-one{
    width: 25%;
    height: 200px;
    background-color: #472D2D;
    float: left;
    font-size: 30px;
    color: bisque;
}
.features-two{
    width: 35%;
    height: 200px;
    background-color: #F94892;
    float: left;
    font-size: 30px;
    color: bisque;
}
.features-three{
    width: 40%;
    height: 200px;
    background-color: #1CD6CE;
    float: left;
    font-size: 30px;
    color: bisque;
}

.article{
    overflow: hidden;
}
.left{
    width: 50%;
    height: 300px;
    background-color: #C21010;
    float: left;
    font-size: 60px;
}
.right{
    width: 50%;
    height: 300px;
    background-color: #FFB200;
    float: right;
    font-size: 60px;
}

.left-ads{
    width: 40%;
    height: 100px;
    font-size: 30px;
    background-color: #CFE8A9;
    float: left;
}
.right-ads{
    width: 60%;
    height: 100px;
    font-size: 30px;
    background-color: #31087B;
    float: right;
}
footer{
    background-color: #0F3D3E;
    color: antiquewhite;
    text-align: center;
}